.App {
  text-align: center;
}

.App-header {
  background-color: lavender;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  background: black;
  color: pink;
  box-shadow: 0 5px 5px hotpink;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  border: 5px solid salmon;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 30%; 
}

/* h4 {
  border: 5px solid salmon;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 30%;
} */

body {
  background-color: turquoise;
}

.i {
  font-style: italic;
}